@import "~src/less/functions.less";

body,.root,.main-body {
    height: 100%;
}

.login-page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form {
    width: 400px;
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid #eee;
}

.form-item {
    line-height: 40px;
    margin-bottom: 15px;
}
.form-item-content {
    font-size: 0;
}
.form-input {
    position: relative;
    vertical-align: middle;
    font-size: 14px;
}
.form-input-prefix {
    position: absolute;
    top: 0;
    left: 1px;
    padding: 0 1em;
}
.form-input-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    line-height: 24px;
    padding: 7px 20px;
    border: 1px solid transparent;
    border-bottom-color: #eee;
    background-color: #fff;
    outline: none;

    .form-input.is-with-prefix & {
        padding-left: 3em;
    }
}

.form-footer {
    text-align: center;
    margin-top: 30px;
}
.btn {
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    line-height: 24px;
    padding: 7px 20px;
    outline: none;
}
.btn-default {
    border: 1px solid #eee;
    color: #555;
    background-color: #fff;
}
