@import (reference) "~src/less/functions.less";
// @import "~src/less/theme-0/variable.less";
// // @import (reference) "~src/less/theme-0/layout.less";
//

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 50px;
    color: #fff;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
        opacity: 0.3;
        background: linear-gradient(to bottom, #000 0%, transparent 100%);
    }
}
.header-inner {
    .cf();
    position: relative;
}
.header-controls {
    float: right;
}
.header-control {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    line-height: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0,0,0,.5);
}
