@import "~src/less/functions.less";

.blog-body {
    .cf();
    width: 100%;
    max-width: 720px;
    margin: auto;
}

.article-banner {
    margin-top: 90px;
    box-sizing: border-box;
    height: 300px;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
}

.article {
    padding: 15px 20px;
    line-height: 1.7;
}
.article-title {
    margin: 20px 0;
}
.article-meta {
    margin: 20px 0;
    font-size: 13px;
    line-height: 1;
    color: #999;
}

.footer {
    margin: 30px 0;
}
.copyright {
    text-align: center;
    font-size: 12px;
    color: #aaa;
}
